<input type="text" value="hello World">

<select>
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
</select>

<textarea>
  This is my text
</textarea>

<hr>

<button class="primary">Primary</button>
<button class="primary" disabled>Primary disabled</button>
<button class="accent">Accent</button>
<button class="accent" disabled>Accent disabled</button>


<div class="example a fancy-shadow">
  <span class="material-icons">bug_report</span>
</div>

<div class="example b fancy-shadow">
  Hello
  <h1>Header</h1>
  World
</div>

<div class="example c fancy-shadow">
  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
  </ul>

</div>