/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --p50: #e8eaf6;
    --p100: #c5cae9;
    --p200: #9fa8da;
    --p300: #7986cb;
    --p400: #5c6bc0;
    --p500: #3f51b5;
    --p600: #3949ab;
    --p700: #303f9f;
    --p800: #283593;
    --p900: #1a237e;

    --a100: #ff9e80;
    --a200: #ff6e40;
    --a400: #ff3d00;
    --a700: #dd2c00;
}