<section class="title-area">
    <app-title-presenter caption="Hello World, mamatsav"
        color="red"
    >
    </app-title-presenter>
    <app-title-presenter [caption]="myTitle" color="green">
    </app-title-presenter>
</section>

<section class="colors-area">
    <app-string-selector
        [options]="colors"
        [selected]="selectedColor"
        (selectionRequested)="setColor($event)"
    ></app-string-selector>
</section>
<section class="sizes-area">
    <app-string-selector
        [options]="sizes"
        [selected]="selectedSize"
        (selectionRequested)="setSize($event)"
    ></app-string-selector>
</section>
<section class="fonts-area">
    <app-string-selector
        [options]="fonts"
        [selected]="selectedFont"
        (selectionRequested)="setFont($event)"
    ></app-string-selector>
</section>
<section class="text-area">
    <textarea
        [style.color]="selectedColor"
        [style.font-size]="selectedSize"
        [style.font-family]="selectedFont"
    ></textarea

        >
</section>