:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid var(--p500);
    border-radius: 10px;
    padding: 20px;
}

button {
    border: 1px solid var(--p500);
    background: var(--p50);
    padding: 8px;
    margin: 4px;
}

label {
    display: inline-block;
    color: var(--p400);
    width: 100px;
}

input {
    border: 1px solid var(--p400);
    color: var(--p800);
}